@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

$primary: #ced4da;

body {
  margin-top: 0px;
}

#main-nav {
  background: $primary;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

.carousel-inner {
}

.carousel-item {
  height: 100vh;
}

.carousel-image-0 {
  background: url('../img/thanksgiving.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-1 {
  background: url('../img/malone.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/maintenance.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/suspension.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-4 {
  background: url('../img/cold.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-5 {
  background: url('../img/transmission.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-image-6 {
  background: url('../img/construction.jpg') no-repeat center fixed;
  background-size: cover;
}

.carousel-caption {
  h2 {
    font-size: 1.25rem;
    background: #000;
    opacity: 1;
    border-radius: 0.5rem;
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
    @include for-desktop-up {
      font-size: 4rem;
    }

    @include for-big-desktop-up {
      font-size: 7rem;
    }
  }
  p {
    font-size: 1rem;
    background: #fff;
    opacity: 0.8;
    border-radius: 0.5rem;

    @include for-tablet-portrait-up {
      font-size: 1.5rem;
    }
    @include for-desktop-up {
      font-size: 2rem;
    }

    @include for-big-desktop-up {
      font-size: 2.5rem;
    }
  }
}

.carousel-nav {
  background: #3292a6;
  opacity: 0.9;
  padding: 1rem;
  border-radius: 0.5rem;
}

.contact-section {
  display: flex;
  align-content: center;
  align-items: center;
  background: url('../img/map.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
