body {
  margin-top: 0px;
}

#main-nav {
  background: #ced4da;
}

.navbar {
  box-shadow: 2px 2px 5px #ced4da;
  opacity: 0.9;
  background: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

.carousel-item {
  height: 75vh;
}

.carousel-image-0 {
  background: url('../img/map.png') no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-1 {
  background: url('../img/malone.jpg') no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/timing.jpg') no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/skidplate.jpg') no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-4 {
  background: url('../img/swaps.jpg') no-repeat center center fixed;
  background-size: cover;
}

.carousel-caption h2 {
  background: #000;
  opacity: 0.6;
  border-radius: 0.5rem;
}
.carousel-caption p {
  background: #fff;
  opacity: 0.6;
  border-radius: 0.5rem;
}
.carousel-nav {
  background: #000;
  opacity: 0.6;
  padding: 1rem;
  border-radius: 0.5rem;
}

#contact {
  height: 90vh;
}
